<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Iniciar Sesion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">

    <ion-card>
      <ion-list>
        <ion-list>
          <ion-item>
            <ion-input label="Ingresa tu Email" type="email" placeholder="nombre@tudominio.com"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Ingresa tu contraseña" type="password" value="password"></ion-input>
          </ion-item>
        </ion-list>
      </ion-list>
    </ion-card>
    
    <ion-button [routerLink]="['/registro']">Registrate</ion-button>
    <ion-button [routerLink]="['/catalogo']">Ingresar</ion-button>
    
  </div>

</ion-content>


