<ion-app>

  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>DIGIGAMES</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item button [routerLink]="['/#']">
            <ion-label>Tú Perfil</ion-label>
        </ion-item>
        <ion-item button [routerLink]="['/home']">
          <ion-back-button default-href="#"></ion-back-button>
          <ion-label>Cerrar Sesion</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding"> Tap the button in the toolbar to open the menu. </ion-content>
  </div>
  
  <ion-router-outlet></ion-router-outlet>
</ion-app>
